{% load i18n %}
{% for post in object_list %}
    <a href="{% url 'post_detail' post.blog.owner.username post.pk %}">
        <div>
            {% if post.image_url %}
                <div>
                    <img src="{{ post.image_url }}" alt="{{ post.title }}">
                </div>
            {% endif %}
        </div>
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.intro }}</p>
        </div>
    </a>
{% empty %}
    <div>
        <h1>{% trans "No posts here" %}</h1>
        <p>{% trans "We are sorry, but nobody has published any post yet." %}</p>
    </div>
{% endfor %}
