{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wordplease</title>
</head>
<body>
    <h1>
        {% trans "Welcome to wordplease" %}
        {% if user.is_authenticated %}
            ({{ user.username }})
        {% endif %}
    </h1>
    <h2>{% trans "Blogs list" %}</h2>
    {% if blog_list %}
        <ul>
        {% for blog in blog_list %}
            <li>
                {{ blog.name }} - {{ blog.num_posts }} posts
                <p>{{ blog.description }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "Be the first one..." %}</p>
    {% endif %}
</body>
</html>
